<h1>Update Pet</h1>

<form action="/pets/<%= @pet.id %>" method="POST">
  
<input id="hidden" type="hidden" name="_method" value="patch">

<label>Pet Name:</label>
<input type="text" name="pet[name]" value="<%= @pet.name  %>">
<br>




  
  
  
</form>