<h1>Create a new Pet</h1>

<form action="/pets" method="POST">
  
<label>Pet Name</label>

<br>

<input type="text" id="name" name="pet[name]">

<p>Select from the list of available owners:</p>

<br>

<input type="checkbox" 




<p>or create a new owner:</p>


  
  
  
  
  
</form>